{
  "presets": [
    "es2017",
    "react"
    ],
  "env": {
    "server": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
